* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: large;

	background-color: #003B28;
	color: #FFF;
}

a {
	color: #fff;
}

a:hover {
	color: #8A8;
}

.wrapper {
	width: 100vmin;
	height: 100%;
	margin: auto;
}

.bottom-text {
	padding: 20px;

	transition-property: opacity;
	transition-duration: 2s;

	opacity: 0;
}

.game-title {
	margin-top: 0;
}

.separator {
	height: 0;
	margin: 0;
	padding: 0;

	background: 0;
	border: 0;

	border-bottom: 1vmin solid #006E4A;
}

.board, .buttons {
	width: 100%;
	border-collapse: collapse;
}

.board {
	height: 100vmin;
}

.buttons {
	height: 12.87%;
	font-family: Arial;
	font-size: 4vmin;
	line-height: 4vmin;
}

.buttons .tile {
	border-top: none;
}

.win-table {
	border-collapse: collapse;
	width: 100%;
}

.win-table-label {
	width: 60%;

	font-weight: bold;

	text-align: right;
}

.win-table td {
	padding: 0px;
	/*width: 50%;*/
}

.win-table-label:after {
	content: ":\00a0";
}

.win-table td:nth-child(2) {
	text-align: left;
}

.tile {
	width: 33%;
	height: 33%;
	width: 33.333333333333333333%;
	height: 33.333333333333333333%;
	background-color: #00AA72;
	border: 1vmin solid #006E4A;
	padding: 0px;
	text-align: center;

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.board .tile:before {
	content: '';

	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;

	height: 100%;
}

.tile:hover {
	background-color: #218359;
}

.token {
	width: 100%;
	height: 100%;

	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;

	-webkit-animation: grow 0.2s linear 1;
	-moz-animation: grow 0.2s linear 1;
	-o-animation: grow 0.2s linear 1;
	animation: grow 0.2s linear 1;
}

.x-1 {/* starts in upper left, goes towards lower right */
	width: 15%;
	height: 100%;
	background-color: #C0F400;
	margin: auto;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.x-2 {
	width: 15%;
	height: 100%;
	background-color: #C0F400;
	margin: auto;
	margin-top: -100%;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.o {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 50%;
	border: 4vmin solid #C0F400;
}

@-webkit-keyframes grow {
	from {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	to {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes grow {
	from {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	to {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@-o-keyframes grow {
	from {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	to {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes grow {
	from {
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	to {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
